.srch-bar-container {
  height: 5vh;
  width: 100vw;
}

.srch-bar {
  padding-left: 8rem;
  font-size: 2rem;
  border: 2px solid #ccc;
  border-radius: 0.8rem;
  position: fixed;
  height: 6%;
  margin: 1rem;
  z-index: 100;
  transition: width 2s;
}

.submit-btn {
  font-size: 2rem;
  position: fixed;
  height: 6%;
  margin: 1rem;
  z-index: 100;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  width: 10%;
  left: 88%;
  height: 6%;
  margin: 1rem;
  z-index: 100;
}

.srch-bar:focus {
  width: 85%;
}

@media only screen and (max-width: 450px) {
  .home-btn {
    left: 85%;
  }

  .srch-bar {
    padding-left: 9rem;
  }

  .srch-bar:focus {
    width: 80%;
  }
}
